@page "/patient/{patientId:int}/appointments"
@using HospitalPortal.WEB.Services
@using HospitalPortal.WEB.Models
@using System.Globalization
@using System.Security.Claims
@inject DialogService DialogService
@inject IAppointmentService AppointmentService
@inject NavigationManager Navigation

<PageTitle>Appointments</PageTitle>
<AuthorizeView Roles="Patient">
	<Authorized>
		@if (patientId != Id)
		{
			<div class="no-access">
				<p>You don't have access to this page.</p>
			</div>
		}
		else if (appointmentDtos == null)
		{
			<div class="loading-spinner">Loading...</div>
		}
		else if (appointmentDtos.Count == 0)
		{
			<p class="no-appointments-text">You have 0 appointments made.</p>
			<button class="btn btn-primary make-appointment-button" @onclick="GoToScheduleAppointment">Make a New Appointment</button>
		}
		else
		{
			<h3 class="e-title">Your Appointments</h3>
			<button class="btn btn-primary make-appointment-button" @onclick="GoToScheduleAppointment">Make a New Appointment</button>
			<p></p>
			<RadzenScheduler @ref=@scheduler Culture=@(new CultureInfo("en-GB")) SlotRender=@OnSlotRender Style="height:475px"
							 TItem="AppointmentCalendarModel" Data=@appointments StartProperty="Start" EndProperty="End"
							 AppointmentSelect=@OnAppointmentSelect
							 TextProperty="Text" SelectedIndex="1">
				<RadzenDayView EndTime=@TimeSpan.FromHours(16.00) />
				<RadzenWeekView EndTime=@TimeSpan.FromHours(16.00) />
			</RadzenScheduler>
		}
	</Authorized>
	<NotAuthorized>
		<div class="no-access">
			<p>You are not logged in .</p>
		</div>
	</NotAuthorized>
</AuthorizeView>
@code {
	[Parameter]
	public int patientId { get; set; }

	private List<AppointmentDto> appointmentDtos;
	public List<AppointmentCalendarModel> appointments = new List<AppointmentCalendarModel>();

	RadzenScheduler<AppointmentCalendarModel> scheduler;

	public int Id;
	[CascadingParameter]
	private Task<AuthenticationState> AuthState { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthState;
		if (authState.User.Identity.IsAuthenticated)
		{
			var userIdClaim = authState.User.FindFirst(ClaimTypes.NameIdentifier);
			if (userIdClaim != null && int.TryParse(userIdClaim.Value, out int userId))
			{
				Id = userId;
			}
		}
		if (Id == patientId)
		{
			appointmentDtos = await AppointmentService.GetAppointmentsByPatientIdAsync(patientId);
			appointments = appointmentDtos.Select(app => new AppointmentCalendarModel
				{
					Start = app.DateAndHour,
					End = app.DateAndHour.AddHours(1),
					Text = $"Dr. {app.DoctorName} - {app.StatusName}",
					Id = app.Id
				}).ToList();
		}
	}

	private void GoToScheduleAppointment()
	{
		Navigation.NavigateTo($"/patient/{patientId}/schedule");
	}

	void OnSlotRender(SchedulerSlotRenderEventArgs args)
	{
		if (args.View.Text == "Week" && args.Start.Date == DateTime.Today)
		{
			args.Attributes["style"] = "background:rgba(139, 203, 252, 0.3) ";
		}
		if ((args.View.Text == "Week" || args.View.Text == "Day") && (args.Start.DayOfWeek == DayOfWeek.Saturday || args.Start.DayOfWeek == DayOfWeek.Sunday))
		{
			args.Attributes["style"] = "background:rgba(150, 153, 152, 1) ";
		}
	}

	async Task OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<AppointmentCalendarModel> args)
	{
		var appointment = appointments.FirstOrDefault(a => a.Id == args.Data.Id);

		if (appointment != null)
		{
			bool? result = await DialogService.Confirm($"Do you want to delete this appointment?",
														"Delete Appointment",
														new ConfirmOptions { OkButtonText = "Delete", CancelButtonText = "Cancel" });

			if (result == true)
			{
				await AppointmentService.DeleteAppointmentByIdAsync(appointment.Id);
				Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
			}
		}
	}
}

<style>
	.no-access {
		text-align: center;
		font-size: 24px;
		color: #ff4d4d;
		margin-top: 20px;
		font-weight: bold;
	}

	.no-appointments-text {
		text-align: center;
		font-size: 18px;
		color: #ff4d4d;
		margin-top: 20px;
	}

	.make-appointment-button:hover {
		background-color: green;
		margin-bottom: 1000xp
	}

	.loading-spinner {
		text-align: center;
		font-size: 18px;
		color: #666;
	}
</style>

